<div class="row">
    <div class="column left" style="background-color:transparent;">
        <h2>Indexation</h2>
        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="my-1 mr-2" for="doc_type">Type de document</label>
                <select class="custom-select my-1 mr-sm-2" id="doc_type" (change)="onSelectDocType()"
                    formControlName="doc_type">
                    <option value="NONE" selected>Choisir le type de document</option>
                    <option *ngFor="let type of doctype" value="{{type}}">{{type}}</option>
                </select>
            </div>
            <div class="error" *ngIf="uploadForm.get('doc_type').hasError('required') && uploadForm.get('doc_type').touched">
                Le type de document est obligatoire.
            </div>

            <div class="form-group" *ngIf="selectedOption != 'Autres' && selectedOption != 'Salarié'">
                <label class="my-1 mr-2" for="doc_number">Numéro de document</label>
                <input type="number" class="form-control" formControlName="doc_number">
            </div>
             <div class="error" *ngIf="uploadForm.get('doc_number').hasError('required') && uploadForm.get('doc_number').touched">
                Le numéro de la facture, du devis ou du bon est obligatoire.
            </div>

            <div class="form-group" *ngIf="selectedOption != 'Autres' && selectedOption != 'NONE'">
                <label class="my-1 mr-2" for="selectTypeDetailed"
                    *ngIf="selectedOption == 'Facture client'">Client</label>

                <label class="my-1 mr-2" for="selectTypeDetailed" *ngIf="selectedOption == 'Salarié'">Salarié</label>
                <label class="my-1 mr-2" for="selectTypeDetailed"
                    *ngIf="selectedOption == 'Facture fournisseur' || selectedOption =='Devis' || selectedOption =='Bon de commande' || selectedOption == 'Bon de livraison' ">
                    Fournisseur
                </label>

                <select class="custom-select my-1 mr-sm-2" id="selectTypeDetailed" formControlName="doc_type_detailed">
                    <ng-container *ngFor="let fournisseur of fournisseurs">
                        <option
                            *ngIf="selectedOption == 'Facture fournisseur' || selectedOption =='Devis' || selectedOption =='Bon de commande' || selectedOption == 'Bon de livraison'">
                            {{fournisseur}}</option>
                    </ng-container>
                    <ng-container *ngFor="let client of clients">
                        <option *ngIf="selectedOption == 'Facture client'" [ngValue]="client">{{client}}</option>
                    </ng-container>
                    <ng-container *ngFor="let salarie of salaries">
                        <option *ngIf="selectedOption == 'Salarié'" [ngValue]="salarie">{{salarie}}</option>
                    </ng-container>
                </select>
            </div>
            <div class="error" *ngIf="uploadForm.get('doc_type_detailed').hasError('required') && uploadForm.get('doc_type_detailed').touched">
                Le client/fournisseur/salarié de document est obligatoire.
            </div>

            <div class="form-group" *ngIf="selectedOption == 'Salarié'" style="text-align: justify;">
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="exampleRadios" id="exampleRadios1"
                        value="BP" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Bulletin de paie
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="exampleRadios" id="exampleRadios2"
                        value="CTR">
                    <label class="form-check-label" for="exampleRadios2">
                        Contrat
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="exampleRadios" id="exampleRadios3"
                        value="RIB">
                    <label class="form-check-label" for="exampleRadios3">
                        RIB
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="exampleRadios" id="exampleRadios4"
                        value="CVit">
                    <label class="form-check-label" for="exampleRadios4">
                        Carte vitale
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="exampleRadios" id="exampleRadios5"
                        value="OTH">
                    <label class="form-check-label" for="exampleRadios5">
                        Autres
                    </label>
                </div>
            </div>
            <div class="error" *ngIf="uploadForm.get('exampleRadios').hasError('required') && uploadForm.get('exampleRadios').touched">
                Le type de document propre au salarié est obligatoire.
            </div>

            <div class="form-group">
                <label class="my-1 mr-2" for="docDate">Date du document</label>
                <input type="date" class="form-control" formControlName="docDate">
                <small id="dateHelp" class="form-text text-muted">S'il s'agit d'une facture, c'est la date d'édition de
                    la facture..</small>
            </div>
             <div class="error" *ngIf="uploadForm.get('docDate').hasError('required') && uploadForm.get('docDate').touched">
                La date de document est obligatoire.
            </div> 

            <div class="row" *ngIf="selectedOption != 'Autres' && selectedOption != 'Salarié'">
                <div class="col">
                    <div class="form-group">
                        <label class="my-1 mr-2" for="montant_tva">Montant TVA (en €)</label>
                        <input type="number" class="form-control" formControlName="montant_tva">
                    </div>
                     <div class="error"*ngIf="uploadForm.get('montant_tva').hasError('required') && uploadForm.get('montant_tva').touched">
                        Le montant TVA est obligatoire.
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="my-1 mr-2" for="montant_ttc">Montant TTC (en €)</label>
                        <input type="number" class="form-control" formControlName="montant_ttc">
                    </div>
                     <div class="error" *ngIf="uploadForm.get('montant_ttc').hasError('required') && uploadForm.get('montant_ttc').touched">
                        Le montant TTC est obligatoire.
                    </div>
                </div>
            
            </div>
        
            <button type="submit" class="btn btn-primary" (click)="save()">Sauvegarder</button>
            <br>
            <small>Seul les documents PDF sont acceptés.</small><br>
        </form>

    </div>
    <div class="column right" style="background-color:#bbb;">
        <h3>Fichier</h3>

        <div>
            <h3>Résumé informations entrées</h3>
            <p>Type de document : {{uploadForm.value.doc_type}} | Type de document Client : {{uploadForm.value.doc_type_detailed}}</p>
            <p>Numéro du document Fournisseur: {{uploadForm.value.doc_number}}</p>
            <p>Date du document Fournisseur: {{uploadForm.value.docDate}}</p>
            <p>radio de document : {{uploadForm.value.exampleRadios}}</p>
            <p>Montant TVA: {{uploadForm.value.montant_tva}} | Montant TTC: {{uploadForm.value.montant_ttc}}</p>
        </div>

        <div class="input-group">
            <div class="custom-file">
                <input type="file" accept="application/pdf" class="custom-file-input" id="inputFile"
                    (change)="showPreview($event)">
                <label class="custom-file-label" for="inputGroupFile02">Choisissez un document (pdf)</label>
            </div>
        </div>
        <pdf-viewer [src]="url" [render-text]="true" style="display: block;"></pdf-viewer>
    </div>
</div>

